backups
data
docs
log
node_modules
old
public/assets
public/packs
storage
test
tmp
volumes
config/master.key
config/application.yml

Dockerfile.*
Guardfile
docker-compose*.yml
*.sqlite3
*.log
*.md
config/application.yml
config/*.pem
*.pem
.*
heroku.yml
