<h3 class="mb-3 pb-3"><%= @world.name %></h3>

<div class="card mb-3">
  <div class="card-body">
    Backups
  </div>
  <ul class="list-group list-group-flush">
    <% @world.backups.each do |backup| %>
      <li class="list-group-item"><%= time_ago_in_words(backup.created_at) %>
    <% end %>
  </ul>
</div>
