<%= form_for([:minecraft, @server], html: { class: 'form' }) do |f| %>
  <div class="form-group">
    <%= f.label :host %>
    <%= f.text_field :host, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
