<h3 class="mb-3">Minecrafts</h3>

<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to 'Servers', minecraft_servers_path %>
    </li>
    <li class="list-group-item">
      <%= link_to 'Worlds', minecraft_worlds_path %>
    </li>
  <ul>
</div>

