<div class="toast bg-warning ms-auto show" data-controller="toasts" data-target="toasts.toast" data-bs-autohide="false" data-bs-animation="false">
  <div class="toast-header">
    <strong class="me-auto"><%= header %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
  </div>
  <div class="toast-body">
    <%= message %>
  </div>
</div>
