<h3 class="mb-4"><%= @peer.name %></h3>

<h6>Peer Configuration</h6>
<div class="card mb-3">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-2">IP Address</div>
        <div class="col"><code><%= @peer.ip_address %></code></div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-2">Public Key</div>
        <div class="col"><code><%= @peer.key.public_key %></code></div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-2">Private Key</div>
        <div class="col"><code><%= @peer.key.private_key %></code></div>
      </div>
    </li>
  </ul>
</div>
