<nav class="navbar navbar-dark d-flex justify-content-start">
  <%= nav_link(:dns, 'Minecraft', minecraft_path) %>
  <%= nav_link(:vpn_lock, 'VPN', wireguard_path) %>
  <%= nav_link(:settings, 'Admin', admin_path) %>
</nav>
